.bg1 {
  width: 100%;
  height: 500px;
  background: url("http://3.bp.blogspot.com/-8zeE8T8rncc/UD8Tk9aiKYI/AAAAAAAAATI/kTx_J3yPpeg/s1600/Top+12+Cool+Windows+8+HD+wallpapers+for+desktop+backgrounds+(2).jpg");
  background-size: cover;
  color: white;
  text-align: center;
}
